.input {
    width: 30vw;
    height: 65px;
 }
 input:focus {
     background-color: orange;
        
 }
 .searchbtn {
     width: 173px;
     height: 69px;
     background-color: #5474FD;
     border: 10px solid white;
     margin-left: -5px;
     
      
 }
 button:hover {
     color: orange;
     background-color: #232323;
     cursor: pointer;
     transform: translateY(4px);
 }

 