@import 'variables';

header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/Bg-pic-1.jpg"), url("../images/Bg-pic-2.jpg"), url("../images/Bg-pic-3.jpg");
    background-repeat: no-repeat;
    background-position: top, top 513px;
    background-color: rgb(10, 3, 60);
    display: flex;
    justify-content: center;

}
