// body {
//    width: 100%; 
//    background-image: url("Bg-pic-1.jpg"), 
//    url ("../images/Bg-pic-2.jpg");
// }

@import 'variables';


// body {
//    width: 100%;
//    height: 100vh;
//    background-image: url(../images/Bg-pic-1.jpg), url(../images/Bg-pic-2.jpg);

// }

// body {
//    background-image: url("../images/Bg-pic-1.jpg"), url("../images/Bg-pic-2.jpg"), url("../images/Bg-pic-3.jpg");
//    background-repeat: no-repeat;
//    background-position: center, top 821px, top 1506px;
// }
body {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
}
.first-container {
   background-image: url(/images/Bg-pic-2.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   height: 100vh;
   width: 100%;
   margin-top: -3vh;
   display: flex;
   flex-direction: row;

}
.first-text-container{
   width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: left;
   

.first-headline{
   font-family: $fontaleo;
   font-size: $aleo36;
   color:white;
 }
 .first-text {
   font-family: $fontjosefin;
   font-size: $josefin16;
   color: white;
   font-weight: 500;
 }
}
.second-container {
   background-image: url(/images/Bg-pic-3.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   height: 100vh;
   width: 100%;
   margin-top: -1vh;
}
.third-container {
   background-image: url(/images/Bg-pic-4.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   height: 100vh;
   width: 100%;
   margin-top: -1vh;
}
.fourth-container {
   background-image: url(/images/Bg-pic-5.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   height: 100vh;
   width: 100%;
   margin-top: -1vh;
}
.fifth-container {
   background-image: url(/images/Bg-pic-6.jpg);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   height: 100vh;
   width: 100%;
   margin-top: -1vh;
}
.sixth-container {
   background-color: #232323;
   background-repeat: no-repeat;
   background-position: center top;
   background-size: cover;
   height: 30vh;
   width: 100%;
   margin-top: -1vh;
}